.btn-h1-spacing{
	margin-top: 10px;
}

.form-spacing-top{
	margin-top: 30px;
}
.table-index{
	margin-top: 30px;
}
body>nav.navbar.navbar-expand-lg{
	padding-left: 100px;
	padding-right: 100px;
}

@media (min-width: 1200px){
		html>body>div.container.logged-in {
    	max-width: 1300px !important;
}}

.sideDash>li.active>a{
	color: #fff;
}

/*Container*/

html body div.container{
	width: 100%!important;
}
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

p,
a{
	font-family: 'Merriweather', serif;;
	font-weight: 400;
}
p{
	color: #606060;
	line-height: 31px;
	letter-spacing: 0.5px;
}
a{
	font-family: 'Poppins', serif;
}
/*Navbar*/

body>nav.navbar.navbar-expand-lg{
	background-color: #fff!important;
	padding-top: 30px;
}

html body nav.navbar.navbar-expand-lg.navbar-light div.collapse ul.nav li.nav-item a{
	padding-right: 30px;
	font-size: 16px
	letter-spacing: 1px;
}
html body nav.navbar.navbar-expand-lg.navbar-light div.collapse ul.nav li.nav-item a.separator:hover{
	color: rgba(0,0,0,.5)
}

html body nav.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 900;
}

html body nav.navbar div.collapse ul.nav li.nav-item.dropdown a.nav-link.dropdown-toggle,
html body nav.navbar div.collapse ul.nav li.nav-item a.register{
	background-color: #e14c46;
	color: #fff;
	border-radius: 50px;
	padding-right: 20px!important;
	padding-left: 20px;
	box-shadow: 0 1px 10px rgba(244, 100, 95, 0.76),0 1px 2px rgba(244, 100, 95, 0.76);
}
html body nav.navbar div.collapse ul.nav li.nav-item.dropdown a.nav-link.dropdown-toggle.signed-in:hover,
html body nav.navbar div.collapse ul.nav li.nav-item a.register:hover{
	background-color: #e74430
}
html body nav.navbar div.collapse ul.nav li.nav-item.dropdown a.nav-link.dropdown-toggle:active,
html body nav.navbar div.collapse ul.nav li.nav-item.dropdown a.nav-link.dropdown-toggle:focus,
html body nav.navbar div.collapse ul.nav li.nav-item a.register:hover,
html body nav.navbar div.collapse ul.nav li.nav-item a.register:focus
{
	transform: translateY(2px);
}

/*Jumbotron*/

body div.container div.row div.col-md-12 div.jumbotron{
	background-color: #fff
}
body div.container div.row div.col-md-12 div.jumbotron div.row div.col-md-6 h1{
	padding-bottom: 20px;
}
body div.container div.row div.col-md-12 div.jumbotron div.row div.col-md-6 p{
	font-size: 17px;
}
html body div.container div.row div.col-md-12 div.jumbotron div.row div.col-md-6 a.btn.btn-primary{
	margin-top: 20px;
}
/*images*/
img.img-fluid{
	box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 10px 53px rgba(0,0,0,0.1);
}

/*Button*/

.btn.btn-primary{
	background-color: #7f68f1;
	border: 0;
	border-radius: 50px;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow:0 2px 5px rgb(161 161 161 / 56%);
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}.btn.btn-primary.cattag{
	background-color: #7f68f1;
    border: 0;
    border-radius: 50px;
    padding: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 2px 5px rgb(127 104 241 / 56%), 0 2px 5px rgb(127 104 241 / 45%);
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    max-width: 100%;
    font-size: 14px;
    margin: auto;
    display: block;
}
.btn.btn-primary:hover{
	box-shadow: 0 8px 26px rgba(127, 104, 241, 0.56),0 8px 18px rgba(127, 104, 241, 0.45);
	transform: translateY(-5px);
}
.btn.btn-primary:active,
.btn-btn-primary:focus{
	box-shadow: 0 1px 3px rgba(127, 104, 241, 0.56),0 1px 2px rgba(127, 104, 241, 0.45)!important;
	transform: translateY(5px);
	background-color: #7f68f1!important;
	border: 0!important;
}


/*GreyHome*/

html body div.container div.row div.col-md-12 div.row.greyhome div.col-md-4 div.post div.text-content h4{
	margin-top: 20px;
}
html body div.container div.row div.col-md-12 div.row.greyhome div.col-md-4 div.post img{
	box-shadow: none;
}
html body div.container div.row div.col-md-12 div.row.greyhome div.col-md-4 div.text-content {
		padding: 20px;
		padding-left: 30px;
		padding-bottom: 30px;
}
html body div.container div.row div.col-md-12 div.row.greyhome div.col-md-4 div.post{
	margin: 10px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 10px 53px rgba(0,0,0,0.1) !important;
}
html body div.container div.row div.col-md-12 div.row.greyhome div.col-md-4 div.post div.text-content p.text-center{
	font-size: 15px;
	color: #989595
}


/*Social Media Buttons*/
div.social{
	margin-top: 20px;
}
div.social>a{
	font-size: 35px;
	margin-left: 30px;
}
div.social>a>i{
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.10),0 1px 2px rgba(0, 0, 0, 0.10);
	background-color: #fff!important;
}
div.social>a>i:hover{
	transform: translateY(-2px);
}
div.social>a>i:active,
div.social>a>i:focus{
	transform: translateY(2px);
}
div.social>a:first-of-type{
	margin-left: auto;
}
div.social>a>i.fa-facebook-square{
	color: #3b5998
}
div.social>a>i.fa-twitter-square{
	color: #00aced
}
div.social>a>i.fa-linkedin{
	color: #0077B5
}
div.social>a>i.fa-google-plus-square{
	color: #dd4b39
}

div.social>span{
	font-family: 'Merriweather', serif;
	color: #5a5a5a;
	font-size: 18px;
	margin-right: 20px;
}

/*Blog*/

/* html body div.container div.row div.col-md-12 h1{
	margin-bottom: 50px;
} */
html body div.container div.row div.col-md-8 p.date{
	font-weight: bold;
}
html body div.container div.row.blog-index{
	margin-top: 60px;
	margin-bottom: 50px;
}
html body div.container div.row.blog-index:first-of-type{
	margin-top: 0;
	margin-bottom: 50px;
}

/*Comments*/
.comment {
	margin-bottom: 45px;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name {
	float: left;
	margin-left: 15px;
}

.author-name>h4 {
	margin: 5px 0px;

}

.author-time {
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}

.comments-title {
	margin-bottom:45px;
}

.comments-title>span {
	margin-right: 15px;
}
